html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Georgia, serif
}

#whole {
    width:40%; margin:auto; margin-top: 30px;
}

#header-div, #footer {
  text-align:center; margin-bottom: 40px; margin-top:40px;
}

#header-text {
  margin-bottom:20px;
  font-size: 2rem;
  color:DarkSlateGray;
  font-weight: lighter;
}

.nav {
  margin-right:8px; margin-left:8px; margin-bottom:5px;
  color:black;
  font-size: 1.1rem;
}

#container {
  text-align:left;
  margin-bottom:40px;
}

.parag {
  font-size: 1.4rem; margin-bottom:30px;
  color:DarkSlateGray;
}

span {
  color:LightSlateGray;
}

li {
  margin-top:10px; margin-bottom:10px;
  font-size: 1rem;
  list-style-position: inside;
  color:black;
}
li a{
  color:rgb(42, 42, 42);
}

a {
    text-decoration: none;
}
a:hover {
    color:chocolate;
}

#post-title {
  font-size: 1.4rem;
  margin-bottom:20px;
  color:DarkSlateGray;
}
#post-date{
  font-size: 1.2rem;
  margin-bottom:20px;
  color:LightSlateGrey;
}
#post, .about {
  margin-bottom:40px;
  text-align: left;
  text-justify: none;
  font-size:1rem;
  line-height:30px;
}
#post p, .about p {
   color:black;
   margin-bottom:20px;margin-top:20px;
}

.footer-links{
  margin-right:5px;margin-left:5px; display:inline-block;
  -webkit-filter: invert(50%);filter: invert(50%);
}
.footer-links:hover {
  -webkit-filter: invert(0%);filter: invert(0%);
}

@media only screen and (max-width: 1279px) {
   #whole {
    width: 90%;
  }
  .img-responsive {
    width: 100%; height: auto;
  }
}
