html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

* {box-sizing: border-box;}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scrollbar-gutter: stable both-edges;
}

/* main */
body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  color: var(--color-primary);
  background: var(--color-background);
}

:root {
   --color-primary: #252a31;
   --color-background: #EEEEEE;
   --color-pa: lightsteelblue;
   --color-link: #080808;
   --invert-percent-1:0%;
   --invert-percent-2:50%;
   --invert-percent-3:0%;
   --color-card: #333;
   --img-filter:0%;
   --color-excerpt:#333;
   --color-category: darkcyan;
   --color-hover: #1E90FF;
   --color-textshadow: #CCC;
   --color-tab-background: #8d8d8d;
}

#container {
  width:60%; margin:auto; margin-top:0px; margin-bottom:0px;  text-align:left;
}

p a {
  color: var(--color-pa); word-wrap: break-word;
}


/* tabs */
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}
.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: var(--color-tab-background);
}

input:focus-visible + label {
  outline: 2px solid var(--color-hover);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: var(--color-hover);
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: var(--color-hover);
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid var(--color-background);
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}


/* top */
#header-div {
  text-align:center; padding-bottom: 0px; padding-top:60px;
}
#header-text {
  margin-bottom:15px;
  font-size: 2rem;
  font-weight: 400;
  font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  text-shadow: 2px 2px 1px var(--color-textshadow);
}
#header-text a {
  text-decoration: none;
  color: var(--color-primary);
}
#header-text a:hover{
  text-decoration: none;
}
#header-text a:visited{
  text-decoration: none;
}

.nav {
  margin-right:8px; margin-left:8px;
  color: var(--color-primary);
  font-size: 1rem;
}

.parag-header{
  font-size: 1.4rem; margin-bottom:30px;
  color: var(--color-primary);
}

#navdiv {
  width:90%;  margin:auto;
  padding-top:0px; padding-bottom: 10px;
}


/* lists */
.nav, .ul-project-list li a {
  text-decoration: none;
}

.ul-project-list a {
  color: var(--color-link);
}

.ul-project-list li {
  padding-top:6px; padding-bottom:6px;
  font-size: 1.1rem;
  list-style-position: inside;
}

.about a {
  color: var(--color-link);
  text-underline-offset: 2px;
}

.category {
  color: var(--color-category);
  margin-top:8px;
  font-size:0.7rem;
  font-style: italic;
}

.row a {
  text-decoration: none;
  color: var(--color-link);
  font-size:0.9rem;
}

a:hover {
  color: var(--color-hover);
}

.about {
  text-align: left;
  text-justify: none;
  font-size:1rem;
  line-height:32px;
  color: var(--color-primary);
}

.link {
  vertical-align: middle;
  filter: invert(var(--invert-percent-3));
}


/* footer */
.footer-links{
  margin-right:5px;margin-left:5px; display:inline-block;
  filter: invert(var(--invert-percent-1));
}

.footer-links:hover {
  filter: invert(45%) sepia(61%) saturate(2825%) hue-rotate(191deg) brightness(100%) contrast(102%);
}

.img-effect {
	filter: invert(var(--img-filter));
}

.img-responsive {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border: 1px solid var(--color-primary);
    border-radius: 2px;
}

.p-responsive {
  display: inline-block;
  height: auto;
  width: auto;
}


/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 0.7rem;
  border-radius: 1px;
}
.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}
.btn.active {
  background-color: var(--color-primary);
  color: var(--color-background);
}


/* Project list card view */
.filterDiv {
  display: none;
  float: left;
  width: 170px;
  height:230px;
  margin:10px;
  padding:5px;
  /* background-color: var(--color-card); */
}

.filterCat, .filterList {
  display:none;
}

.card {
  text-align: center;
  width: auto;
  height:auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.projects-images{
  opacity:90%;
  width: 160px;
  height: 160px;
  vertical-align: middle;
  margin-bottom:5px;
  border-radius: 2px;
}

.projects-images:hover {
opacity: 100%;
}


/* Selected works */
#can {
  background-image: url("/assets/sel_can-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sedye-video{
  background-image: url("/assets/sel_sedye-4.jpg");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
}
#sedye-kart{
  background-image: url("/assets/sel_sedye-1.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#airnav{
  background-image: url("/assets/sel_airnav-1.png");
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
#autocad{
  background-image: url("/assets/sel_autocad-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#insert{
  background-image: url("/assets/sel_insert-1.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
#import{
  background-image: url("/assets/sel_import-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#driveworks{
  background-image: url("/assets/sel_driveworks-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first{
      order:0;
}

.second{
      order:1;
}

.sel-img-div{
  height: 275px;
  width: 46%;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
}

.sel-text{
  align-content:center;
  text-align: left;
  padding-left:25px;
  padding-right:25px;
  width: 50%;
}

.sel-col{
  display: flex;
  /* margin-bottom:20px; */
  margin-top:50px;
}

.sel-text p {
  margin-bottom:10px;
}

.text-title {
  font-size:1.3em;
}

.ul-text-desc {
  text-align:left;
  color: var(--color-excerpt);
}

.ul-text-desc li {
  padding-top:6px; padding-bottom:6px;
  font-size: 0.9em;
  list-style-position: inside;
}

/* JS button styling */
.show {
  display: block;
}

.showList {
  display: list-item;
}

#btnContainer{
  padding-bottom:20px;
  text-align: center;
}


/* adaptive */
@media only screen and (max-width: 425px) {
    #container {margin-top:0px;}
}

@media only screen and (max-width: 523px) {
  #container {width: 90%;margin-top:0px;}
  .row{display: none;}
  .projects-list{display:block;}
  .sel-col{display:block;}
  .sel-img-div, .sel-text{width:100%;}
  .sel-text{padding-top:10px;
      padding-left:5px;
      padding-right:5px;}
  #airnav{background-position: top;}
}

@media only screen and (min-width: 524px) and (max-width: 839px) {
  .projects-list{display: block;}
  .sel-col{display:block;}
  .sel-img-div, .sel-text{width:100%;}
  .row{display: none;}
  .sel-text{padding-top:10px;}
  #container {width: 70%;margin-top:0px;}
  #airnav{background-position: top;}
  #driveworks{background-size: contain;}
}

@media only screen and (min-width: 840px) and (max-width: 1439px) {
  .projects-list{display:none;}
  #container {width: 760px;margin-top:0px;}
}

@media only screen and (min-width: 1440px) {
  .projects-list{display:none;}
  #container {width: 950px;}
  #airnav{  background-position: top;}
  #driveworks{background-size: contain;}
  .sel-img-div{height: 300px;}
}