---
# empty
---

<!DOCTYPE html>
	<html lang="tr">
		<head>
            		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		<div id="whole">
				<div id="header-div">
					<p id="header-text">fatih mehmet ozcan</p>
					<a class="nav" href="https://fatihmeh.github.io">home</a>
					<a class="nav" href="/blog">blog</a>
				</div><!--header-div-->


			<div id="container">
				
			{{ content }}
			
			</div><!--container-->
			
		<div id="footer">
		<a class="footer-links" href="https://github.com/fatihmeh" target="_blank"><img height="24" width="24" src="/assets/github.svg" /></a>
		<a class="footer-links" href="https://gitlab.com/testingusername" target="_blank"><img height="24" width="24" src="/assets/gitlab.svg" /></a>	
		<a class="footer-links" href="mailto:fatihmehmetozcan - at - protonmail.com" target="_blank"><img height="24" width="24" src="/assets/protonmail.svg" /></a>	
		</div><!--footer-->
			
			
		
		</div><!-- whole -->
			
		</body>
</html>
