---
# default
---

<!DOCTYPE html>
	<html lang="en">
	<head>
            	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="stylesheet" type="text/css" href="/css/main.css">			
				<link rel="apple-touch-icon" sizes="180x180" href="/icon-main/apple-touch-icon.png">
				<link rel="icon" type="image/png" sizes="32x32" href="/icon-main/favicon-32x32.png">
				<link rel="icon" type="image/png" sizes="16x16" href="/icon-main/favicon-16x16.png">
				<link rel="manifest" href="/icon-main/site.webmanifest">
				<link rel="mask-icon" href="/icon-main/safari-pinned-tab.svg" color="#000000">
				<link rel="shortcut icon" href="/icon-main/favicon.ico">
				<title>{{ page.title }}</title>
	</head>
<body>
		<div id="whole">
			<div id="header-div">
				<p id="header-text">fatih mehmet ozcan</p>
				<a class="nav" href="https://fatihmeh.github.io">about</a> - <a class="nav" href="/projects">projects</a> - <a class="nav" href="/blog">blog</a>
			</div>


		<div id="container">
			{{ content }}
		</div>
			
		<div id="footer">
		<a class="footer-links" href="https://github.com/fatihmeh" target="_blank"><img height="24" width="24" src="/assets/github.svg"/></a>
		<a class="footer-links" href="https://gitlab.com/testingusername" target="_blank"><img height="24" width="24" src="/assets/gitlab.svg"/></a>
		<a class="footer-links" href="mailto:fatihmehmetozcan - at - protonmail.com" target="_blank"><img height="24" width="24" src="/assets/protonmail.svg"/></a>
		</div>
			
	</div>
			
</body>
</html>
